<ul>
  <% @posts.each do |p| %>
    <li><%= p.title %> - <%= p.description %></li>
  <% end %>
</ul>


<!--  I dont understand, why when I go to localhost:3000/posts/index this page doesnt show up but this page will show up at just /posts... however posts/new works-->
